.contact-button-group {}

.contact-button-group .wp-block-columns .wp-block-column {
    border: 1px solid #ffff;
}

.contact-button-group .wp-block-columns.column-width {
    max-width: 900px !important;
}

.contact-button-style.wp-block-common-contact-button {
    max-width: 1000px !important;
}

@media screen and (max-width: 700px) {
    .contact-button-group .wp-block-columns.column-width {
        max-width: 70% !important;
    }
}