.contact-button-style.wp-block-common-contact-button {
    .button-group-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 40px;
        background-color: #ffff;
        padding: 12px;
    }

    .buttonTel-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .buttonTel-wrapper .buttonTel-label {
        font-size: 28px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .buttonTel-wrapper a {
        display: inline-block;
        color: black;
        text-decoration-line: none;
    }

    .buttonToForm-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        background-color: #1b8000;
        padding: 18px;
        width: 50%;
    }

    @media screen and (max-width: 900px) {
        .buttonToForm-wrapper {
            flex-direction: column;
        }
    }

    .buttonToForm-wrapper .buttonToForm {
        font-size: 24px;
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 6px;
    }
    .buttonToForm-wrapper a {
        color: #ffff;
        text-decoration-line: none;
    }

    .break-line {
        width: 1px;
        height: 40px;
        background-color: #3333;
    }

    @media screen and (max-width: 700px) {
        .button-group-wrapper {
            flex-direction: column;
            gap: 18px;
        }

        .button-group-wrapper div {
            width: 100%;
        }

        .break-line {
            width: 100px;
            height: 1px;
        }
    }
}
