.wp-block-home-block-01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wp-block-home-block-01 .image-wrapper {
    width: 60%;
  }
   
.wp-block-home-block-01 .image-wrapper img {
  display: block;
  position: relative;
}
 
