.wp-block-home-block-03 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wp-block-home-block-03 .banner-image {
    width: 60%;
  }
   
.wp-block-home-block-03 .banner-image img {
  display: block;
  position: relative;
}
 

