.block-editor-block-list__block {
.wp-block-home-block-03 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wp-block-home-block-03 .banner-image {
    width: 60%;
  }
   
.wp-block-home-block-03 .banner-image img {
  display: block;
  position: relative;
}
 
.wp-block-home-block-03 .banner-image button {
  margin: 20px 10px;
  height: 50px;
  display: block;
}
 
/* 画像挿入時はボタンの高さを auto に */
.wp-block-home-block-03 .banner-image button.image-button {
  height: auto;
}
 
.wp-block-home-block-03 .banner-image {
  border: 1px solid orange;
}
 
.wp-block-home-block-03 .banner-image .removeImage {
  height: 1.5rem;
}

.wp-block-home-block-03 .content-wrapper {
    border: 1px solid orange;
}
   
.wp-block-home-block-03 .banner-image {
    border: 1px solid orange;
}
}